<div class="container marketing">
  <div class "row d-flex justyfy-content-center">
    <div class="col-10 mt-5">
      <h1>FOLLOWING</h1>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
        <!--フォロー機能-->
        <td>
        <%= link_to user.followings.count, following_user_path(user) %> フォロー
        <%= link_to user.followers.count, followers_user_path(user) %>フォロワー
        </td>
        <td>
          <% if current_user.already_following?(user) %>
          <%= link_to user_relationships_path(user), method: :delete do %>
          <button class="btn btn-danger">フォロー解除</button>
          <% end %>
          <% else %>
          <%= link_to user_relationships_path(user), method: :post do %>
          <button class="btn btn-primary">フォロー</button>
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>